
<center><h3><b>Added Item</b></h3></center></p>
<br>
<br>

<br>
<%= form_for :post, url: posts_path do |f| %>
<center>
<table cellpadding="10" cellspacing="0" >
<tr>
    <td><%= f.label :Item %></td>
    <td><%= f.text_field :Item, :disabled=>true%></td>
</tr>

 <!--  <td><%= f.label :Timing %></td>
 <td><%= f.check_box :Timing, :disabled=>true %>
 <%= f.label :Timing, "Morning" %>
 </td>
</tr>  -->
 



 <tr>
    <td><%= f.label :Timing %></td>
  <td><%= f.text_field :Timing, :disabled=>true%></td>
</tr>

 <tr>
   <td><%= f.label :Type %></td>
   <td><%= f.radio_button :Type, "Vegetarian", :disabled=>true%>
   <%= f.label :Type, "Vegetarian" %>
   <%= f.radio_button :Type, "Non-Vegetarian", :disabled=>true%>
   <%= f.label :Type, "Non-Vegetarian" %></td>
</tr>



<tr>
  <td><%= f.label :Category %></td>
  <td><%= f.radio_button :Category, "Staters", :disabled=>true%>
  <%= f.label :Category, "Staters" %>
  <%= f.radio_button :Category, "Deserts", :disabled=>true%>
  <%= f.label :Category, "Deserts" %>
  <%= f.radio_button :Category, "Main Course", :disabled=>true%>
  <%= f.label :Category, "Main Course" %>
  <%= f.radio_button :Category, "Juice", :disabled=>true%>
  <%= f.label :Category, "Juice" %></td>
</tr>


<tr>
    <td><%= f.label :Price %></td>
    <td><%= f.text_field :Price, :disabled=>true%></td>
</tr>



<tr>
    <td><%= f.label :Description, "Currenty Available" %></td>
     <td><%= f.check_box :Description, :disabled=>true %> 
    <%= f.label :Description,"Yes" %>
   
 
     

</tr>

</table>
</center>
<br>
<br>
<br>
<center>

<%= link_to 'Edit', edit_post_path %>&nbsp;&nbsp;
<%= link_to "View Item", controller: "posts" %><br><br>
<%= link_to 'Add Item', new_post_path %>&nbsp;&nbsp;
<%= link_to 'Back to home ', welcome_index_path %>
<br>
<br>
<br>


</center>
<% end %> 



